html {
  background-color: #121212;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #121212;
}

.Body {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-top: 130px;
}

.AllPages{
  display: flex;
  justify-content: center;
}

.slider {
}

.CardImage {
  max-width:200px;
}

.Header {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(0, 0, 0) 0%,
    rgba(0, 212, 255, 0) 100%
  );
  color: #fff;
  height: 130px;
  display: flex;
  border-radius: 0px 0px 10px 10px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.Carousel {
  width: 100.7%;
  position: relative;
  left: -5px;
  top: -5px;
  z-index: 0;
}

.HashFuria {
  position: fixed;
  left: 90%;
  z-index: 4;
  color: white;
}

.separator {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #ccc, transparent);
}

.FooterPrincipal{
  width: 90%;
}

.PartnersLogos {
  height: 100px;
  filter: brightness(0%) invert(100%);
  padding-right: 15px;
}

#pokerstarslogo {
  height: 50px;
  margin-top: 0px;
  margin-right: -10px;
}

#RedBull {
  height: 80px;
}

.footer {
  display: flex;
  justify-content: center;
}

.FooterRoute {
  display: flex;
  justify-content: center;
  width: 100%;
}



.Partners {
  display: flex;
  align-items: center;
  align-content: center;
}

.Social_Networks {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.PartnersList {
  display: flex;
  align-items: center;
  align-content: center;
}

@media (max-width: 360px) {
  .App {
    display: inline-block;
  }
  .Header {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.pages-list{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Menu {
  display: flex;
  justify-content: flex-start;
}

.Header {
  margin-bottom: 50px;
}

.header-logo-furia {
  max-width: 100px;
  margin-top: -20px;
}

a{
  text-decoration: none;
}

il a {
  color: #fff;
}

il a:hover {
  color: #0074D9;
}

.underline{
  position: relative;
  padding: 10px;
  color: #fff;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074D9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
    color: #0074D9;
  }
}